body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; /* Permite un scroll vertical */
}

header {
    height: 80px;
}

/* Logo */
.img-header {
    max-width: 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateX(-75px);
}

.img-header:hover {
    transform: translateX(-75px) scale(1.05); 
    box-shadow: 1px 1px 5px rgba(31, 28, 28, 0.5);
}

/* Panel izquierdo */
.col-md-6.bg-white {
    overflow: hidden;
}

/* Panel derecho */
.col-md-6.bg-dark {
    overflow: hidden;
}

/* Evita agrandar o encoger el textarea */
textarea{
    resize: none;
}

/* Formulario */
table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    table-layout: fixed;
}

td, th {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Permite que el texto largo se divida en varias líneas */    
}

thead{
    position: sticky;
    top: 0;
    background-color: #343a40;
}

.table-responsive{
    flex-grow: 1;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Footer */
.footer {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    background-color: #1b1b1b;
    color: #ddd;
}

footer h5{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer p{
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 1.3;
}

footer hr{
    margin: 1rem 0;
    border-color: #444;
}

.hover-icon {
    transition: transform 0.3s, color 0.3s;
    font-size: 1.25rem;
}

.hover-icon:hover {
    color: #0d6efd;
    transform: scale(1.2);
}

footer .text-center.small{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
}

.img-fluid{
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 1px 1px 5px rgba(238, 235, 235, 0.5);
}

.img-fluid:hover{
    transform: scale(1.05);
}